html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background-color: darkslategray;
    color: white;
}

.background::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%) brightness(10%);
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

#bg1::before {
    background-image: url("images/backgrounds/illuminati-pyramid.jpg");
}

#bg2::before {
    background-image: url("images/backgrounds/great-pyramids.jpg");
}

#bg3::before {
    background-image: url("images/backgrounds/illuminati-group.jpg");
}

#bg4::before {
    background-image: url("images/backgrounds/illuminati-pendant.jpg");
}

.background {
    position: relative;
    min-height: 100vh;
}

.content {
    position: relative;
}

nav {
    font-family: 'Cinzel Decorative';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

a {
    background-color: rgb(155, 22, 66);
    color: white;
    padding: 1em 1.5em;
    margin: 1em;
    text-decoration: none;
    max-height: 1.5em;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(60, 60, 60, 0.5);
}

a img {
    height: 200%;
    margin-top: -0.75em;
}

a:hover img {
    visibility: hidden;
    opacity: 0;
}

.home {
    border: 0;
    margin: 0;
    margin-top: -2.25em;
    opacity: 0;
}

a:hover .home {
    opacity: 1;
}

h1, h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Cinzel Decorative';
}

.banner {
    background-image: url("images/illuminati-header.jpg");
    background-position: center;
    background-size: auto 100%;
    font-family: 
}

#mainBanner h1 {
    font-size: 500%;
}

#mainBanner h2 {
    font-size: 300%;
}

p {
    text-align: justify;
    border: 2px solid white;
    padding: 2%;
    margin: 5%;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: auto;
}

li {
    width: 25%;
    margin: 2%;
    text-align: center;
}

.member {
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
}

.member img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.6)
}

th, td {
    border: 1px solid white;
    padding: 1em;
}

img { 
    max-width: 100%; 
    height: auto; 
}

@-moz-document url-prefix() {
    p {
        background-color: rgba(0, 0, 0, 0.8);
    }

    a img {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    .home {
        background-color: transparent;
        margin: 0;
        opacity: 1;
    }

    .background::before {
        filter: none;
    }
}